.icon-a1{background-image: url('../img/sprite.png');background-position: 0px 0px;width:16px;height:16px;}
.icon-a2{background-image: url('../img/sprite.png');background-position: -21px 0px;width:16px;height:16px;}
